@tailwind base;
@tailwind components;
@tailwind utilities;




textarea::-webkit-scrollbar{
    width: auto;
}

textarea { resize: none; }

@font-face {
    font-family: "Aliyana";
    src: url("../public/font/Aliyana.otf");
}


@media print {
    .hide-on-print {
      display: none;
      width: auto;
      
    }
   
  }
   .certificate{
        page-break-after: always;
    }
